/* RESET */
* {
    margin: 0;
    padding: 0;

    box-sizing: border-box;
    object-fit: cover;
}

/* ====================================================== GLOBAL ====================================================== */
body {
    --fs-primary: 1rem;
    /* 20px */
    --fs-title-s: clamp(1rem, calc(1.5vw + 1rem), 1.25rem);
    /* 26px */
    --fs-title-m: clamp(2rem, calc(2vw + 1rem), 2.25rem);
    /* 64px */
    --fs-title-l: clamp(2rem, calc(3.3vw + 1rem), 3rem);

    font-optical-sizing: auto;

    /* article background color */
    --semester-neutral: #F5F5F5;

    /* link */
    --box-shadow: 5px 5px 9px gray;
    --button-scale: 1.05;
}

/* ====================================================== COLOR PALETTES ====================================================== */
.palette-1 {
    --palette-primary: #00ff77;
    --palette-secondary: #222222;
    --text-primary: #000000;
    --text-secondary: white;
    --text-hover: #FF6600;
}

.palette-2 {
    --palette-primary: #aaff00;
    --palette-secondary: #556B2F;
    --text-primary: #000000;
    --text-secondary: white;
    --text-hover: #FF6600;

}

.palette-3 {
    --palette-primary: #ffe100;
    --palette-secondary: #CC5500;
    --text-primary: #000000;
    --text-secondary: white;
    --text-hover: #FF6600;

}

.palette-4 {
    --palette-primary: #ff2a00;
    --palette-secondary: #4a00ff;
    --text-primary: #000000;
    --text-secondary: white;
    --text-hover: #FF6600;
}

/* ====================================================== TYPOGRAFIE FONTS ====================================================== */
@font-face {
    font-family: 'PlayfairDisplay';
    src: url('fonts/PlayfairDisplay-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Asimovian';
    src: url('fonts/Asimovian-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'LibertinusKeyboard';
    src: url('fonts/LibertinusKeyboard-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

/* ====================================================== TYPOGRAFIE CLASSES ====================================================== */
.font-PlayfairDisplay {
    --f-family: 'PlayfairDisplay';
    --fw-regular: 400;
    color: var(--text-primary);
}

.font-Asimovian {
    --f-family: 'Asimovian';
    --fw-regular: 400;
    color: var(--text-primary);
}

.font-LibertinusKeyboard {
    --f-family: 'LibertinusKeyboard';
    --fw-regular: 400;
    color: var(--text-primary);
}

h1 {
    font-family: var(--f-family);
    font-weight: var(--fw-regular);
    font-size: var(--fs-title-l);
}

h2 {
    font-family: var(--f-family);
    font-weight: var(--fw-regular);
    font-size: var(--fs-title-m);
}

h3 {
    font-family: var(--f-family);
    font-weight: var(--font-weight-bold);
    font-size: var(--fs-title-s);
}
