h1 {
    text-align: center;
    font-size: 4rem;
}

.carr-container {
    display: grid;
    grid-template-areas:
    "title"
    "carrousel"
    "indicator";
    position: relative;
}

.carr-title {
    grid-area: title;
    text-align: center;
}

.carrousel {
    grid-area: carrousel;
    list-style: none;
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
    scroll-marker-group: after;

    &::scroll-marker-group {
        grid-area: indicator;
        display: flex;
        gap: 0.4em;
        place-content: center;
        margin-top: 1em;
    }
}

/* https://codepen.io/studiojvla/pen/qVbQqW */

.carr-item {
    flex: 0 0 95%;
    height: 60vh;
    width: 100%;
    overflow-y: hidden;
    scroll-snap-align: center;
    scroll-snap-stop: always;
    margin: 0.5em 0.5em 1em 0.5em;
    align-self: center;
    justify-self: center;

    &::scroll-marker {
        content: '';
        border: 2px solid #898A8D;
        height: 1em;
        width: 1em;
        border-radius: 50%;
    }

    img {
        width: 100%;
        height: auto;
        display: block;
    }
}

.proj-container {
    .proj-title {
        margin-top: 3em;
        text-align: center;
    }

    .proj-list {
        display: flex;
        flex-direction: column;
        justify-self: center;
        text-align: center;

        .proj-subject {
            list-style: none;
            font-weight: bold;
            width: 15em;
            margin: 0.5em;
			border-radius: 15px;
			text-align: center;

            /* https://www.letsbuildui.dev/articles/how-to-animate-borders-in-css/?utm_source=chatgpt.com */
			position: relative;
			overflow: hidden;
			display: flex;
			align-items: center;
			justify-content: center;
			text-align: center;

            &::before {
				content: "";
				display: block;
				background: #FF6600;
				height: 7.8em;
				width: 1em;
				position: absolute;
				animation: rotate 5s linear forwards infinite;
				z-index: 0;
				top: 50%;
				transform-origin: top center;
            }
        }
    }
}

/* details in proj-list */
.subject-container {
    cursor: pointer;
    width: 100%;
    padding: 0.5em;
    border-radius: 15px;
    background: #222;
    color: #FF6600;
    position: relative;
    z-index: 1;
    margin: 3px;

    &:hover {
        color: #222;
        background-color: #FF6600;
        scale: 1.2;
        transition: ease-in-out;
    }

    &[open] {
        background-color: #FF6600;
        color: #222;

        summary {
            padding-top: 0.5em;
        }
    }

    summary {
        list-style: none;

        &:hover {
            scale: 1.2;
        }
    }

    ul li {
        list-style-type: none;
        margin: 0.5em 0;

        a {
            text-decoration: none;
            color: #f7f7f7;
            display: block;
            width: 100%;

            &:hover {
                scale: 1.2;
            }
        }
    }

}

@keyframes rotate {
	from {
		transform: rotate(0);
	}

	to {
		transform: rotate(360deg);
	}
}